:root{
  --bg-default: #000;
  --bg-listItem: #808080; 
}

*{
  color: #fff;
}

.logo{
  width: 13em;
  height: auto;
}

.listItem span{
  font-size: 1.3em;
}

.listItem:hover{ 
  background-color: var(--bg-listItem);
}

.sidebar{
  margin-top: 2em;
}


.logo-container{
  padding-top: 1em;
  padding-left: 1em;
}

.main-container{
  background-color: var(--bg-default);
  height: 100vh;
}

html, body{
  margin:  0;
}

.test{
  background-color: cyan;
}